{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-header">
          <a href="{% url 'post_detail' post.pk %}">{{ post.author }}</a>
        </div>
        <div class="card-body">
          <p>{{ post.content }}</p>
          <div class="d-flex justify-content-between">
            <div>
              <a href="{% url 'like_post' post.pk %}" class="btn btn-primary">Like</a>
              <a href="{% url 'comment_on_post' post.pk %}" class="btn btn-success">Comment</a>
            </div>
            <div>
              {{ post.likes.count }} likes
              {{ post.comments.count }} comments
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          Comments
        </div>
        <div class="card-body">
          {% for comment in post.comments.all %}
          <div class="card mb-2">
            <div class="card-header">
              {{ comment.author }}
            </div>
            <div class="card-body">
              {{ comment.content }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          Leave a comment
        </div>
        <div class="card-body">
          <form action="{% url 'comment_on_post' post.pk %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="content">Content</label>
              <textarea class="form-control" id="content" name="content" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}